NODE_ENV=development
{{#if prisma}}
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/{{name}}?schema=public"
{{/if}}
{{#if auth}}
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
{{/if}}
